.container {
  position: relative;
  width: 100%;
  padding: 20px;
  border: 2px solid #e8edf4;
  border-radius: 0;
  font-size: 16px;
  font-weight: 700;
  line-height: 120%;
  transition: border-color 0.3s ease;
  appearance: none;

  &:hover,
  &:focus {
    outline: none;
    border-color: #1d73f4;
  }
}
